
@model Samochody.ViewModels.AccountViewModel

<h2>@ViewBag.Title.</h2>


<address>
    Gdańsk<br />
    Grunwaldzka 409<br />
    <abbr title="Phone">P:</abbr>
    777-888-999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>